body{
	body width:350px;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
  	width: 50%;
}

.s1{
	text-decoration:underline;
	font-weight:bold;
}

.s2{
	background:orange;
	font-weight:bold;

}

.s3{
	color:red;
	font-weight:bold;

}
